﻿
@{
    ViewBag.Title = "ECPGViews";
    string key = ViewBag.Key;
}

<h2>ECPGViews</h2>

@if (ViewBag.Key == null)
{
    <form method="post" action="/Index">
        <div class="row form-group">
            <div class="col-lg-4">
                <div class="pull-left">
                    Merchant Id :
                </div>
                <input class="pull-right" type="text" name="merchantId" value="6600800020" />
            </div>
            <div class="col-lg-4">
                <div class="pull-left">
                    TERMINAL ID :
                </div>
                <input type="text" class="pull-right" name="terminalId" value="13999032" />
            </div>
            <div class="col-lg-4">
                <div class="pull-left">
                    TRANSMODE :
                </div>
                <input class="pull-right" type="text" name="transmode" value="0" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-lg-4">
                <div class="pull-left">
                    INSTALLMENT :
                </div>
                <input type="text" class="pull-right" name="installment" value="0" />
            </div>
            <div class="col-lg-4">
                <div class="pull-left">
                    TRANSAMT :
                </div>
                <input type="text" class="pull-right" name="transamt" value="99" />
            </div>
            <div class="col-lg-4">
                <div class="pull-left">
                    NotifyURL(Call Back URL) :
                </div>
                <input class="pull-right" type="text" name="notifyURL" value="https://ecpg.azurewebsites.net/Notify" />
            </div>
        </div>
        <div class="col-lg-offset-5">
            <input type="submit" value="Pay Now" />
        </div>
    </form>
}
else
{
    <body onload="document.HPP.submit();">
        <form name="HPP" method="post" target="HPPFrame" action="https://nccnet-ectest.nccc.com.tw/merchant/HPPRequest?KEY=@key">
            <iframe name="HPPFrame" id="mainFrame" height="600" width="800" Frameborder="0" APPLICATION="yes"></iframe>
        </form>
    </body>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Fail !</strong> @ViewBag.Error
    </div>
}

